<div class="main-container">
  <div class="nav-container">
    <ul>
      <li>
        <a
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }" 
          routerLink=""
          >Home</a
        >
      </li>
      <li><a routerLinkActive="active" routerLink="about">About</a></li>
      <li><a routerLinkActive="active" routerLink="contact">Contact</a></li>
      <li><a routerLinkActive="active" routerLink="courses">Popular Blogs</a></li>
      <li><a routerLinkActive="active" routerLink="registration">Registration</a></li>
      <span style="float: right">
        <button><a routerLinkActive="active" routerLink="login">Login</a></button>
         <!-- <button (click)="redirectToLogin()">Login</button>  -->

        <!-- <li><a (click)="loginFn()">Login</a></li> -->
        <!-- <li><a (click)="logoutFn()">Logout</a></li> -->
      </span>
    </ul>
  </div>
  <!-- <app-home></app-home>
  <app-about></app-about>
  <app-contact></app-contact>
  <app-courses></app-courses> -->
  <router-outlet></router-outlet>
</div>
