/* app.component.css */
button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  /* login.component.css */
  form {
    width: 300px;
    margin: 0 auto;
    text-align: center;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="password"],
  button[type="submit"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 14px;
  }
  
  button[type="submit"] {
    background-color: #4caf50;
    color: white;
    border: none;
  }
  
  button[type="submit"]:hover {
    background-color: #45a049;
  }
  